<html ng-app="gettingStarted">

<head>

  <script src="node_modules/angular/angular.js"></script>

  <script src="node_modules/jquery/dist/jquery.js"></script>

  <link rel="stylesheet" href="node_modules/bootstrap-3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css">
  <script src="node_modules/bootstrap-3.3.7/dist/js/bootstrap.js"></script>

  <script src="app.js"></script>

  <title>Getting Started With Angular and WebServices!</title>
</head>

<body>
  <div class="page-header">
    <h1>Getting Started With Angular and WebServices!</h1>
  </div>
  <div class="table-responsive" id="DisplayInfo">
    <table class="table">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>...</th>
      </tr>
      <tr>
        <td>F1</td>
        <td>L1</td>
        <td>A1</td>
        <td>... </td>
      </tr>
      <tr>
        <td>F2</td>
        <td>L2</td>
        <td>A2</td>
        <td>... </td>
      </tr>
    </table>
  </div>

  <div ng-controller="gtgStdCtrl">
    <div>
    <button type="button" class="btn btn-default" ng-click="Addnew()"> Add New </button>
    <!-- Show HTML: <input type="checkbox" ng-model="myVar"> -->
  </div>
  <div class="table-responsive" id="AddNewTable" ng-show="showMe">
    <table class="table">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>...</th>
      </tr>
      <tr>
        <td><input type="text" name="fname" placeholder="Enter First Name.."></td>
        <td><input type="text" name="lname" placeholder="Enter Last Name.."></td>
        <td><input type="text" name="age" placeholder="Enter Age"></td>
        <td>... </td>
      </tr>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-default" ng-click="newFunc()"> Test </button>
    <!-- Show HTML: <input type="checkbox" ng-model="myVar"> -->
  </div>

  </div>
  
  <!--Show HTML: <input type="checkbox" ng-model="myVar">-->

</body>

</html>